{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Newsletter | Page not found
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="jumbotron">
                <h1 class="display-4">Permission denied</h1>
                <hr>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Home</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
