{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Newsletter | Password reset
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <h1 class="text-center">Set a new password!</h1>
            <hr>
            <div class="col-lg-8 offset-lg-2">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success" value="Change my password">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
