{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Newsletter | Password change
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <h1 class="text-center">Password change successful</h1>
            <hr>
            <p class="text-center">Your password was changed.</p>
            <p class="text-center">
                <a class="btn btn-success" href="{% url 'home' %}">Home page</a></p>
        </div>
    </div>
{% endblock %}
