<html lang="en">
<title>Email Activation</title>
<body>
    Hi {{ user }},
    <br><br>
    We've received a request to reset your password.
    <br>
    If you didn't make this request, you can safely ignore this email.
    Otherwise, click the button below to reset your password.
    <br>
    <strong><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Password reset link</a></strong>
    <br><br>
    Kind regards,<br>
    Newsletter Team
    <p></p>
</body>
</html>
