{% extends 'base.html' %}
{% load static %}

{% block title %}
    Newsletter | Email Sent
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="jumbotron">
                <h1 class="display-4">Success</h1>
                <p class="lead">
                    You successful created your account.<br>
                    To activate your account please verify your email address.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
